<app-header title="PEDIDOS REALIZADOS" (backButtonClick)="voltar()"></app-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar no-border-top>
    <ion-list>
      <ion-item>
        <ion-select aria-label="STATUS" placeholder="SELECIONE" (ionChange)="change()" [(ngModel)]="_filtro.status" cancelText="CANCELAR" okText="SELECIONAR">
          <ion-select-option value="0">TODOS OS STATUS</ion-select-option>
          <ion-select-option value="1">NÃO ENVIADO</ion-select-option>
          <ion-select-option value="2">ENVIADOS</ion-select-option>
          <ion-select-option value="10">NÃO LIBERADOS</ion-select-option>
          <ion-select-option value="11">LIBERADOS</ion-select-option>
          <ion-select-option value="12">EM PREPARAÇÃO</ion-select-option>
          <ion-select-option value="13">PREP. PARCIAL</ion-select-option>
          <ion-select-option value="14">PREPARADOS</ion-select-option>
          <ion-select-option value="15">FATURADOS</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <label *ngIf="_qtdTotal > 0">{{ _qtdTotal }} ENCONTRADO(S)</label>
        <label *ngIf="_qtdTotal == 0">NENHUM PEDIDO ENCONTRADO</label>
      </ion-item>
    </ion-list>
  </ion-toolbar>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="abrirFiltro()">
      <ion-icon name="options"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let cada of _lstPedidos">
    <ion-card-header>
      <ion-card-title>{{ cada.cliente.nome }}</ion-card-title>
      <ion-card-subtitle>{{ utilProvider.formatarDataHora(cada.data) }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <p>VALOR: {{ utilProvider.formatarMoeda(cada.valor) }}</p>
        </ion-col>
        <ion-col>
          <p>STATUS: {{ obterStatus(cada.status) }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>FILIAL: {{ cada.nomeFilial }}</p>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-footer>
      <ion-button *ngIf="cada.status != 1" (click)="abrirDetalhe(cada)" color="secondary" ion-button icon-left outline item-start>
        <ion-icon name="information-circle" slot="start"></ion-icon>
        DETALHES
      </ion-button>
      <ion-button *ngIf="cada.status == 1" (click)="excluir(cada)" color="secondary" ion-button icon-left outline item-start>
        <ion-icon name="trash" slot="start"></ion-icon>
        EXCLUIR
      </ion-button>
      <ion-button *ngIf="cada.status == 1" (click)="editar(cada)" color="secondary" ion-button icon-left item-end>
        <ion-icon name="create" slot="start"></ion-icon>
        EDITAR
      </ion-button>
      <!-- <ion-button *ngIf="cada.status == 2" (click)="copiar(cada)" color="secondary" ion-button icon-left item-end>
        <ion-icon name="create"></ion-icon>
        COPIAR
      </ion-button> -->
      <ion-button (click)="enviarPlanilha(cada)" color="light" ion-button icon-left item-end>
        <ion-icon name="send" slot="start"></ion-icon>
        PLANILHA
      </ion-button>
      <ion-button (click)="enviarPdf(cada)" color="primary" ion-button icon-left item-end>
        <ion-icon name="send" slot="start"></ion-icon>
        ENVIAR PDF
      </ion-button>
      <ion-button (click)="imprimir(cada)" color="secondary" col-5 small ion-button  icon-left>
        <ion-icon name="print" slot="start"></ion-icon>
        IMPRIMIR
      </ion-button>
      <ion-button (click)="enviar(cada)" color="primary" col-6 small ion-button  icon-left esp>
        <ion-icon name="cloud-upload" slot="start"></ion-icon>
        SINCRONIZAR
      </ion-button>
    </ion-footer>
  </ion-card>

  <ion-row>
    <ion-col col-12 style="text-align: center">
      <ion-spinner name="ios" *ngIf="_carregando"></ion-spinner>
    </ion-col>
  </ion-row>

  <p class="text-mutted text-center" *ngIf="_qtdTotal > _lstPedidos.length">Arraste para baixo para atualizar.</p>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
