<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/logo/kazan.png" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="sair()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item-divider class="titulo-master" color="light">
    <h2 color="primary" class="titulo">
      <ion-icon name="home"></ion-icon>
      {{ 'HOME - FILIAL: '+ _filial }}
    </h2>
  </ion-item-divider>
</ion-header>

<ion-content>
  <ion-button color="secondary" expand="block" (click)="openFilialSelection()">
    TROCAR FILIAL
  </ion-button>

  <ion-button color="primary" expand="block" (click)="sincronizar(true)">
    <ion-icon name="sync" slot="start"></ion-icon> SINCRONIZAR
  </ion-button>

  <ion-item-divider color="light">
    <h2>PEDIDOS ABERTOS</h2>
  </ion-item-divider>

  <ion-card *ngFor="let cada of _lstPedidos">
    <ion-row>
      <ion-col class="titulo">
        <h3 color="secondary">{{ cada.cliente.nome }}</h3>
        <!-- <h2 *ngIf="cada.cliProspec != null && cada.cliProspec != '' && cada.cliProspec != undefined">{{
          retornarNomeCliente(cada.cliProspec) }} </h2>
        <h2 *ngIf="cada.cliProspec != null && cada.cliProspec != '' && cada.cliProspec != undefined">{{ cada.cliProspec}} </h2> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>{{ util.formatarDataHora(cada.data) }}</p>
      </ion-col>
      <ion-col>
        <p>{{ util.formatarMoeda(cada.valor) }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button (click)="editar(cada)" color="secondary" fill="outline" expand="block">
          <ion-icon name="create" slot="start"></ion-icon>
          EDITAR
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>

  <!--<ion-card>
    <ion-card-header>
      VENDAS DIÁRIAS
    </ion-card-header>
    <ion-card-content>
      <canvas #cvsVenda></canvas>
    </ion-card-content>
  </ion-card>-->

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="iniciarPedido()">
      <ion-icon name="clipboard"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
