<app-header title="SELECIONE A TRANSPORTADORA" (backButtonClick)="voltar()"></app-header>

<ion-content fullscreen>
  <ion-toolbar no-border-top>
    <ion-list>
      <ion-item>
        <ion-input placeholder="Digite o nome ou código da transportadora" (keypress)="keypress($event)" [(ngModel)]="_filtro" class="input-borda">
          <ion-button color="primary" (click)="pesquisar()" slot="end">
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="_qtdTotal > -1">
        <label>{{ _qtdTotal }} ENCONTRADO(S)</label>
      </ion-item>
    </ion-list>
  </ion-toolbar>

  <ion-list>
    <ion-radio-group [compareWith]="compareWith" [(ngModel)]="_traCodigo">
      <ion-item *ngIf="_traPadrao != null">
        <ion-radio [value]="_traPadrao?.codigo">{{ _traPadrao?.nome }}</ion-radio>
      </ion-item>
      <ion-item *ngFor="let cada of _lstTransportadoras">
        <ion-radio [value]="cada.codigo">{{ cada.nome }}</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-row>
    <ion-col col-12 style="text-align: center">
      <ion-spinner name="ios" *ngIf="_carregando"></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer>
  <ion-button color="secondary" expand="block" (click)="salvar()">
    <ion-icon name="checkmark-circle"></ion-icon>PRÓXIMO
  </ion-button>
</ion-footer>
