<app-modal-header [title]="'PEDIDO ' + _pedido.codigo"></app-modal-header>
<ion-content class="ion-padding-bottom">
  <ion-list>
    <ion-item *ngIf="_pedido.numero">
      <ion-label>
        <h2>{{ _pedido.numero }}</h2>
        <p>NUMERO SERVIDOR</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _pedido.cliente.codigo }} - {{ _pedido.cliente.nome }}</h2>
        <p>CLIENTE</p>
      </ion-label>
    </ion-item>

    <!-- <ion-item *ngIf="_pedido.cliProspec != ''" >
      <h2>{{ _pedido.cliProspec }}</h2>
      <p>CLIENTE</p>
    </ion-item> -->

    <ion-item>
      <ion-label>
        <h2>{{ utilProvider.formatarDataHora(_pedido.data) }}</h2>
        <p>DATA</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _status }}</h2>
        <p>STATUS</p>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="_pedido.status != 1">
      <ion-label>
        <h2>{{ utilProvider.formatarDataHora(_pedido.dtEnvio) }}</h2>
        <p>DATA DE ENVIO</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _condicaoPagto }}</h2>
        <p>CONDIÇÃO DE PAGAMENTO</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _pedido.frete == 'C' ? 'Cif' : 'Fob' }}</h2>
        <p>FRETE</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _pedido.observacao }}</h2>
        <p>OBSERVAÇÃO</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _transportadora }}</h2>
        <p>TRANSPORTADORA</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _valorSubTotalFormat }}</h2>
        <p>SUB-TOTAL (R$)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _cupomDescontoPorcentagemFormat }}</h2>
        <p>CUPOM DESCONTO (%)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _valorIpiFormat }}</h2>
        <p>IPI (R$)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _valorStFormat }}</h2>
        <p>ST (R$)</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>{{ _valorTotalFormat }}</h2>
        <p>TOTAL (R$)</p>
      </ion-label>
    </ion-item>

    <ion-item-divider color="light">
      <h3>ITENS</h3>
    </ion-item-divider>
  </ion-list>

  <ion-card *ngFor="let cada of _lstPedidosItens">
    <ion-card-header>
      <ion-card-title>{{ cada.item.codigo + ' - ' + cada.item.nome }}</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>{{ cada.quantidade }}</h2>
          <p>QUANTIDADE</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2 *ngIf="_pedido.status >= 11; else zero">{{ cada.quantidade - (cada?.qtdFat || 0) }}</h2>
          <ng-template #zero>
            <h2>0</h2>
          </ng-template>
          <p>CORTE FAT</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{ cada.desconto }}</h2>
          <p>DESC. (%)</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{ utilProvider.formatarMoeda(cada.valorUnitario) }}</h2>
          <p>UNITÁRIO</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{ utilProvider.formatarMoeda(cada.total) }}</h2>
          <p>TOTAL</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{ utilProvider.formatarMoeda(cada.valorIpi) }}</h2>
          <p>IPI</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>{{ utilProvider.formatarMoeda(cada.valorSt) }}</h2>
          <p>ST</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-button color="secondary" expand="block" (click)="fechar()">
    <ion-icon name="close" slot="start"></ion-icon> FECHAR
  </ion-button>
</ion-content>
