<ion-menu contentId="main-content" class="menu-principal" id="mnuPrincipal">
  <ion-header>
    <ion-toolbar color="primary">
      <div class="versao">
        Versão: <b>{{ _versao }}</b>
      </div>
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>
      {{ funcionarioLogado.codigo }} - {{ funcionarioLogado.nome }}
      </ion-label>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
  <!-- <ion-menu-toggle> -->
    <ion-list>
      <ion-item (click)="fecharMenu()">
        <ion-icon name="home-outline"></ion-icon> HOME
      </ion-item>
      <ion-item (click)="iniciarPedido()">
        <ion-icon name="clipboard-outline"></ion-icon> NOVO PEDIDO
      </ion-item>
      <ion-item (click)="mudarPagina('pedidos')">
        <ion-icon name="list-outline"></ion-icon> PEDIDOS
      </ion-item>
      <ion-item (click)="mudarPagina('produtos')">
        <ion-icon name="cube-outline"></ion-icon> PRODUTOS
      </ion-item>
      <ion-item (click)="mudarPagina('clientes')">
        <ion-icon name="people-outline"></ion-icon> CLIENTES
      </ion-item>
      <ion-item (click)="mudarPagina('cliente-castro')">
        <ion-icon name="create-outline"></ion-icon> CADASTRAR CLIENTE
      </ion-item>
      <ion-item (click)="mudarPagina('tabela-preco')">
        <ion-icon name="send-outline"></ion-icon> ENVIAR TABELA
      </ion-item>
      <!--<ion-item (click)="mudarPagina('FaleConoscoPage')">
        <ion-icon name="mail"></ion-icon> FALE CONOSCO
      </ion-item>-->
      <ion-item (click)="sair()">
        <ion-icon name="log-out-outline"></ion-icon> SAIR
      </ion-item>
    </ion-list>
  <!-- </ion-menu-toggle> -->
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-router-outlet></ion-router-outlet>
</div>
