img {
  display: block;
  margin: 50px auto;
  background-color: transparent;
  min-height: 80px;
  width: 200px;
}
ion-footer {
  ion-toolbar {
    ion-label {
      text-align: center;
      display: block;
    }
  }
}
