<ion-content ion-padding>

  <ion-list>

    <img src="./assets/logo/kazan.png" />
    <ion-item>
      <ion-input type="number" [(ngModel)]="_login.codigo" labelPlacement="stacked" label="Usuário">
        <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="_login.senha" labelPlacement="stacked" label="Senha">
        <ion-icon slot="start" name="key" aria-hidden="true"></ion-icon>
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="primary" expand="block" (click)="autenticar()">ENTRAR</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-label>Versão: <b>{{ _versao }}</b></ion-label>
  </ion-toolbar>
</ion-footer>
