<ion-header>
  <ion-toolbar primary>
    <ion-title>
      {{ _titulo }}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar no-border-top>
    <ion-row>
      <ion-col col-10>
        <ion-input placeholder="Digite o nome ou código do produto" (keypress)="keypress($event)" [(ngModel)]="_filtro"
          class="input-borda"></ion-input>
      </ion-col>
      <ion-col col-2>
        <button color="primary" (click)="pesquisar()" ion-button full icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <button color="secondary" (click)="lerCodigo()" ion-button full icon-left>
          <ion-icon name="barcode"></ion-icon> CÓDIGO DE BARRAS
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <label [hidden]="_qtdTotal == -1">{{ _qtdTotal }} ENCONTRADO(S)</label>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-card *ngFor="let cada of _lstItens">
    <ion-row>
      <ion-col class="titulo" col-12>
        <h2 color="primary">{{ cada.codigo }} {{ cada.nome }} - {{ cada.fabricante.nome }} {{ cada.embalagem }}</h2>
      </ion-col>
      <ion-col col-12>
        <ion-row *ngIf="_fotos != null && cada.codigo == _fotos?.proCodigo">
          <ion-col [hidden]="_fotos == null || _fotos?.imagem1 == ''">
            <img src="data:image/png;base64,{{ _fotos?.imagem1 }}" #img1 (click)="abrirImagem(img1)" />
          </ion-col>
          <ion-col [hidden]="_fotos == null || _fotos?.imagem2 == ''">
            <img src="data:image/png;base64,{{ _fotos?.imagem2 }}" #img2 (click)="abrirImagem(img2)" />
          </ion-col>
          <ion-col [hidden]="_fotos == null || _fotos?.imagem3 == ''">
            <img src="data:image/png;base64,{{ _fotos?.imagem3 }}" #img3 (click)="abrirImagem(img3)" />
          </ion-col>
          <ion-col [hidden]="_fotos == null || _fotos?.imagem4 == ''">
            <img src="data:image/png;base64,{{ _fotos?.imagem4 }}" #img4 (click)="abrirImagem(img4)" />
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-4>
        <h2 class="valor"> Cx.Master {{ cada.qtdMax }}</h2>
      </ion-col>
      <ion-col col-4>
        <h2 class="valor">Estoque: {{ cada.estoque }}</h2>
      </ion-col>
      <ion-col col-4>
        <ion-item>
          <ion-input #tbxQtd *ngIf="_pedido" type="number" (ionChange)="change($event.target.value, cada)"
            [(ngModel)]="cada.qtd" placeholder="QTDE"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-5>
        <h2 class="valor">Valor R$ {{ utilProvider.formatarMoeda(cada.valorTotal) }}</h2>
      </ion-col>
      <ion-col col-4>
        <h2 class="desc">Desconto %</h2>
      </ion-col>
      <ion-col col-3>
        <ion-input type="number" [(ngModel)]="cada.desconto"></ion-input>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-4>
        <h2 class="desc">Desconto %</h2>
      </ion-col>
      <ion-col col-3>
        <ion-input type="number" [(ngModel)]="cada.desconto"></ion-input>
      </ion-col>
      <ion-col col-5>
        <h2 class="desc">{{ 'Desc. Geral: ' + _descGeral + '%' }}</h2>
      </ion-col>
    </ion-row> -->
    <ion-row class="titulo">
      <ion-col col-12>
        <button (click)="abrirDetalhe(cada)" color="secondary" [attr.block]="!_pedido" small ion-button icon-left
          float-left outline>
          <ion-icon name="information-circle"></ion-icon>
          DETALHES
        </button>
        <button (click)="doViewImg(cada)" color="secondary" [attr.block]="!_pedido" small ion-button icon-left float-left
          outline>
          <ion-icon name="image"></ion-icon>
          IMG
        </button>
        <button [hidden]="!_pedido" [disabled]="cada.valorTotal == null" (click)="addProduto(cada)" color="secondary"
          small ion-button icon-left float-right>
          <ion-icon name="checkbox-outline"></ion-icon>
          ADICIONAR
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row [hidden]="_lstItens.length == 0">
    <ion-col col-12 style="text-align: center">
      <ion-spinner name="ios" *ngIf="_carregando"></ion-spinner>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll [hidden]="_lstItens.length == 0" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer *ngIf="_pedido">
  <ion-fab *ngIf="_pedido" bottom right #fab>
    <button color="primary" (click)="abrirCarrinho()" ion-fab>
      <ion-icon name="cart"></ion-icon>
    </button>
  </ion-fab>
  <ion-toolbar>
    <ion-title text-center>TOTAL: R$ {{ utilProvider.formatarMoeda(_total) }}</ion-title>
  </ion-toolbar>
</ion-footer>
